$ss-primary-color: #762CFB;
$ss-secondary-color: #FFFFFF;
$ss-background-color: rgba(23, 23, 23);
$ss-background-color-nav: rgba(35, 33, 40, 0.3);
$ss-linear-gradient: linear-gradient(90deg, rgba(118, 44, 251, .6), rgba(163, 148, 239, .6), rgba(133, 111, 252, .6));