*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: monospace;
  background: url("/assets/imgs/bg.webp") repeat, rgb(23, 23, 23);
  color: #FFFFFF;
}

main {
  margin-top: 8rem;
}
@media (min-width: 768px) {
  main {
    margin-top: 8.25rem;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.marquee {
  display: flex;
  width: 100%;
  align-items: center;
}
.marquee--topbar {
  height: 2rem;
  background-color: #762CFB;
}
.marquee--banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  background: radial-gradient(circle, rgba(19, 19, 19, 0) 57%, rgb(37, 37, 37) 100%);
}
@media (min-width: 965px) {
  .marquee--banner {
    margin-bottom: 2rem;
  }
}
.marquee__content {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}
.marquee__content__text {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: marquee 60s linear infinite;
}
.marquee__content__text--banner {
  animation: marquee 240s linear infinite;
}
.marquee__content__text__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.marquee__text {
  margin-left: 20px;
  font-size: 55px;
  font-weight: bold;
  line-height: 56.45px;
}
@media (max-width: 965px) {
  .marquee__text {
    margin-left: 32px;
    font-size: 88px;
    line-height: 88.7px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(35, 33, 40, 0.3);
  backdrop-filter: blur(10px);
}

.header {
  position: relative;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
  margin: auto;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}
@media (min-width: 640px) {
  .header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
@media (min-width: 965px) {
  .header-menu {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header-menu {
    width: 33.33%;
  }
}
.header-menu__container {
  opacity: 1;
  transform: none;
}
.header-menu__button {
  opacity: 1;
  background: transparent;
  border: none;
  visibility: visible;
  cursor: pointer;
}
.header-menu__empty__container {
  width: 0;
}
@media (min-width: 640px) {
  .header-menu__empty__container {
    display: block;
  }
}
@media (min-width: 768px) {
  .header-menu__empty__container {
    width: 48px;
  }
}

.header-logo {
  display: block;
}
@media (min-width: 768px) {
  .header-logo {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header-logo {
    width: 33.33%;
  }
}
.header-logo__container {
  display: flex;
  width: fit-content;
}
.header-logo__item {
  opacity: 1;
  transform: none;
  display: flex;
  align-items: center;
}
.header-logo__link {
  margin-right: 0.5rem;
  align-items: center;
  justify-content: center;
}
.header-logo__link--desktop {
  display: none;
  width: 100%;
}
@media (min-width: 768px) {
  .header-logo__link--desktop {
    display: flex;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header-logo__link--desktop {
    margin-right: 1.5rem;
  }
}
.header-logo__link--mobile {
  margin-bottom: 0.5rem;
  display: flex;
  height: 40px;
  width: 100%;
  gap: 0.25rem;
}
@media (min-width: 640px) {
  .header-logo__link--mobile {
    display: flex;
  }
}
@media (min-width: 768px) {
  .header-logo__link--mobile {
    display: none;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header-logo__link--mobile {
    margin-right: 1.5rem;
  }
}
.header-logo__pipe__text {
  text-align: center;
  color: #762CFB;
}
.header-logo__text {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.header-payments {
  display: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
@media (min-width: 965px) {
  .header-payments {
    display: flex;
    width: 33.33%;
  }
}
.header-payments__item {
  opacity: 1;
  transform: none;
}

.header-payments-list {
  position: relative;
  background: linear-gradient(90deg, rgba(118, 44, 251, 0.6), rgba(163, 148, 239, 0.6), rgba(133, 111, 252, 0.6));
  padding: 0.25rem;
  border-radius: 2rem;
}
.header-payments-list__container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 2rem;
  border: none;
  background: rgb(23, 23, 23);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .header-payments-list__container {
    display: flex;
    width: fit-content;
  }
}
.header-payments-list__item {
  font-size: 0.75rem;
}

.header-shuffle {
  display: none;
}
@media (min-width: 768px) {
  .header-shuffle {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header-shuffle {
    width: 33.33%;
  }
}
.header-shuffle__container {
  display: flex;
  width: fit-content;
}
.header-shuffle__item {
  opacity: 1;
  transform: none;
}
.header-shuffle__link {
  margin-right: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.header-shuffle__link--desktop {
  margin-right: 0.5rem;
  display: none;
}
@media (min-width: 768px) {
  .header-shuffle__link--desktop {
    display: flex;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header-shuffle__link--desktop {
    margin-right: 1.5rem;
  }
}
.header-shuffle__link--mobile {
  margin-bottom: 0.5rem;
  display: flex;
  height: 40px;
  gap: 0.25rem;
}
@media (min-width: 768px) {
  .header-shuffle__link--mobile {
    display: none;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header-shuffle__link--mobile {
    margin-right: 1.5rem;
  }
}

.header-cart {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
@media (min-width: 1024px) {
  .header-cart {
    width: 33.33%;
  }
}
.header-cart__item {
  opacity: 1;
  transform: none;
}
.header-cart__item--hide {
  display: none;
}
@media (min-width: 965px) {
  .header-cart__item {
    display: block;
  }
}
.header-cart__button {
  min-height: 0;
  min-width: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: #762CFB;
  color: #762CFB;
  height: 42px;
  padding: 0 0.5rem;
  width: fit-content;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 75ms, color 75ms;
  position: relative;
}
.header-cart__button:hover {
  background-color: rgba(118, 44, 251, 0.9);
}
.header-cart__button:disabled {
  background-color: rgba(118, 44, 251, 0.5);
  cursor: not-allowed;
}
.header-cart__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(118, 44, 251, 0.5);
}
@media (min-width: 1024px) {
  .header-cart__button {
    min-width: 60px;
  }
}

.featured-banner {
  margin: auto;
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media (min-width: 1024px) {
  .featured-banner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.banner__box {
  position: relative;
  display: none;
  border-radius: 0.5rem;
}
.banner__box--desktop {
  display: none;
}
.banner__box--mobile {
  display: block;
}
@media (min-width: 965px) {
  .banner__box--desktop {
    display: block;
  }
  .banner__box--mobile {
    display: none;
  }
}
.banner__image {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.banner__image--desktop {
  height: 100%;
}
.banner__image--mobile {
  display: block;
  height: 33.25rem;
}
@media (min-width: 965px) {
  .banner__image--mobile {
    display: none;
  }
}
.banner__content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.banner__content--mobile {
  left: 0;
  width: 100%;
}
@media (min-width: 965px) {
  .banner__content--mobile {
    left: 2rem;
  }
}
.banner__button__box {
  display: flex;
  width: 100%;
  justify-content: center;
}
.banner__link {
  margin: auto;
  width: fit-content;
}
.banner__button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  transition-duration: 75ms;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: 4.5rem;
  min-height: 0px;
  min-width: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #762CFB;
}
.banner__button:hover {
  background-color: rgba(118, 44, 251, 0.7);
}
@media (min-width: 965px) {
  .banner__button {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-width: 117px;
  }
}
.banner__text {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: #FFFFFF;
}
.banner__text--mobile {
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.banner--active {
  opacity: 1;
  visibility: visible;
}

.featured-collection {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  background-image: url("/assets/imgs/bg-circle.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-position: center top -0.5rem;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .featured-collection {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.collection {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 640px) {
  .collection {
    width: fit-content;
    gap: 1.25rem;
  }
}
.collection--active {
  opacity: 1;
  transform: none;
}
.collection__svg__mobile {
  display: block;
}
@media (min-width: 640px) {
  .collection__svg__mobile {
    display: none;
  }
}
.collection__svg__desktop {
  display: none;
}
@media (min-width: 640px) {
  .collection__svg__desktop {
    display: block;
  }
}
.collection__title__container {
  width: 100%;
}
.collection__title {
  text-align: center;
  font-weight: bold;
}
.collection__title--mobile {
  display: block;
  font-size: 3rem;
  line-height: 4.5rem;
}
@media (min-width: 576px) {
  .collection__title--mobile {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) {
  .collection__title--mobile {
    display: none;
  }
}
.collection__title__extended {
  display: none;
  font-size: 3rem;
  line-height: 6rem;
}
@media (min-width: 640px) {
  .collection__title__extended {
    text-align: center;
    display: block;
    font-size: 5rem;
  }
}

.collection-items {
  margin: 2rem;
  display: grid;
  gap: 1.5rem;
  width: 100%;
}
@media (min-width: 640px) {
  .collection-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.collection-items__image {
  position: relative;
  height: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.collection-items__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--background-image);
  background-size: cover;
  background-position: 50%;
  transition: transform 1s ease;
}
.collection-items__image:hover::before {
  transform: scale(1.2);
}
.collection-items__title {
  position: absolute;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem;
  left: 1.75rem;
  bottom: 2rem;
}
@media (min-width: 965px) {
  .collection-items__title {
    line-height: 2;
  }
}

.featured-footer {
  margin: auto;
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .featured-footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 1128px) {
  .featured-footer {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer {
  margin: auto;
  margin-bottom: 2.5rem;
  margin-top: 1.75rem;
  display: flex;
  width: 100%;
  align-items: center;
}
@media (min-width: 640px) {
  .footer {
    margin-top: 2.5rem;
    justify-content: space-between;
  }
}
@media (min-width: 1128px) {
  .footer {
    margin-bottom: 1.5rem;
  }
}
.footer--active {
  opacity: 1;
  visibility: visible;
}
.footer__container {
  display: grid;
  width: 100%;
  align-items: center;
}
@media (min-width: 640px) {
  .footer__container {
    justify-content: center;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.footer-links--about {
  gap: 1rem;
  margin-top: 2.5rem;
  justify-content: center;
}
@media (min-width: 640px) {
  .footer-links--about {
    gap: 3rem;
  }
}
@media (min-width: 640px) {
  .footer-links {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
}
.footer-links__item {
  width: fit-content;
  opacity: 1;
  transform: none;
}
.footer-links__link {
  width: fit-content;
}
.footer-links__text {
  font-weight: 500;
}
.footer-links__text--page {
  width: fit-content;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.footer-links__text--about {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
}
@media (min-width: 640px) {
  .footer-links__text--about {
    text-align: center;
  }
}
.footer-links__text:hover {
  opacity: 0.7;
}
.footer-links__underline {
  background: linear-gradient(to right, purple, #762cfb, rgba(118, 44, 251, 0.7));
  background-size: 100% 3px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 10px;
}

.footer-laptop {
  display: none;
  width: min-content;
}
@media (min-width: 1128px) {
  .footer-laptop {
    display: block;
  }
}
.footer-laptop__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-laptop__logo--pipe {
  text-align: center;
  color: #762CFB;
}
.footer-laptop__logo--text {
  font-size: 2.25rem;
  font-weight: 700;
}
.footer-laptop__rights {
  margin-top: 2.25rem;
  font-size: 0.75rem;
}
.footer-laptop__text {
  font-size: 0.75rem;
}
.footer-laptop__text--bold {
  font-weight: 500;
}
.footer-laptop__text--bold:hover {
  opacity: 0.7;
}
.footer-laptop__input__box {
  margin-top: 0.75rem;
  display: grid;
  height: 2.5rem;
  width: 100%;
  max-width: 17.75rem;
  grid-template-columns: 1fr 15px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: rgb(35, 33, 40);
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-laptop__input {
  appearance: none;
  background: transparent;
  border: transparent;
  outline: none;
  box-shadow: none;
}
.footer-laptop__input:focus {
  border-color: transparent;
  box-shadow: none;
}

.footer-mobile {
  display: block;
}
@media (min-width: 640px) {
  .footer-mobile {
    display: none;
  }
}
.footer-mobile__input__box {
  margin-top: 0.75rem;
  display: grid;
  height: 2.5rem;
  width: 100%;
  grid-template-columns: 1fr 15px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: rgb(35, 33, 40);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .footer-mobile__input__box {
    max-width: 17.75rem;
  }
}
.footer-mobile__input {
  appearance: none;
  background: transparent;
  border: transparent;
  outline: none;
  box-shadow: none;
}
.footer-mobile__input:focus {
  border-color: transparent;
  box-shadow: none;
}
.footer-mobile__networks {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1124px) {
  .footer-mobile__networks {
    margin-top: 3.5rem;
  }
}

.footer-payments {
  margin-top: 3.75rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}
.footer-payments__text {
  font-size: 0.75rem;
  font-weight: 500;
}

.footer-tablet {
  margin: auto;
  margin-top: 2.25rem;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1128px) {
  .footer-tablet {
    display: none;
  }
}
.footer-tablet__box {
  display: flex;
  flex-direction: column;
}
.footer-tablet__logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 320px) {
  .footer-tablet__logo {
    flex-direction: row;
  }
}
.footer-tablet__networks {
  margin-top: 1rem;
  display: grid;
  justify-content: space-between;
}
@media (min-width: 320px) {
  .footer-tablet__networks {
    margin-top: 0;
  }
}
@media (min-width: 640px) {
  .footer-tablet__networks {
    display: none;
  }
}
.footer-tablet__rights {
  display: none;
}
@media (min-width: 640px) {
  .footer-tablet__rights {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
