@mixin marquee-efect($duration: 15s) {
    animation: marquee $duration linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}